*{
  box-sizing: border-box;
}
/*heder design*/
.header {
  height: 20vh;
  width: 100vw;
  background: blue;
  position: fixed;
  top:0;
  left: 0 ;
  right: 0;
  z-index: 1;
}
.portabook{
  position: absolute;
  top: 0 ;
  left: 0;
  margin: 0;
 height: 100%;
 width:auto;
 
}
.portabook .Logo2{
  height: 20vh;
  width:30vw;
  margin-right: 3vw;
}
/* Eend here*/
.copyright{
}


/* .nav-container {
  
  border: 3px solid white;
  border-radius: 10px;
   position: absolute;
   top: 0 ;
   right: 0 ;
   
   margin-top:1vh ;
  padding: auto;
  height: 60%;
  width: 15%;
  text-align: center;
  text-decoration: none;
}
 */
a {
  text-decoration: none;
  color: white;
}
.copyright img{
  width: 30vw;
  height:35vh;
  padding: auto;
  margin-top: 110vh;
  margin-left: 35vw;
  margin-right: 35vw;



}
 
 @media only screen and (orientation: portrait) {
  .portabook img {
    height: 10vh;
  }
  .header{
    height: 10vh;
  }
  



.copyright img {
}
.copyrights{
  /* margin-top:; */
}
.portabook img{
  width: 50vw;
}
}
.copyrights p{
  z-index: 1;
  font-family: Monospace;
}

 
/* more media queries*/
.books{
  position: absolute;
left: 0;
bottom: 0;
right: 0 ;
margin-top: 21vh;
  width: 100vw;
  height: 79vh;
}