body {
/*
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;5
      color:#000; */
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 60vw;
      height: 78vh;
      margin-top: 20vh;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 20vw;
      right: 20vw;
      z-index: 0;
      border: 1px solid blue;
      outline-color: blue;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #fff; */
      /* height: 200px; */

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }